*.pvd
*.h5
*.pvsm
__pycache__/
*.pyc
.DS_Store
flow.md

archive/
paraview/
results/
analysis/plots/
ms_init/
ms_final/
vlasov_init/
vlasov_final/
vtk_ms_init/
vtk_ms_final/
vtk_vlasov_init/
vtk_vlasov_final/
